<div class="body">
    <p>add-policy works!</p>
    <div class="grid-container">
        <div class="table-heading">
            <h2>Customer Details</h2>
        </div>
        <div class="customer-details">
            <div class="grid-item p-inputgroup">
                <label for="CustomerName" class="labels p-inputgroup-addon">Customer Name</label>
                <input type="text" pInputText placeholder="Eg. Mayank Goyal">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            </div>
            <div class="grid-item p-inputgroup">
                <label for="MobileNumber" class="labels p-inputgroup-addon">Mobile Number</label>
                <input type="text" pInputText  placeholder="999-999-999">
                <span class="p-inputgroup-addon"><i class="pi pi-mobile"></i></span>
            </div>
            <div class="grid-item p-inputgroup">
                <label for="EmailId" class="labels p-inputgroup-addon">Email ID</label>
                <input type="text" pInputText  placeholder="xyz@gmail.com">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
            </div>
            <div class="grid-item p-inputgroup">
                <label for="Address" class="labels p-inputgroup-addon">Address</label>
                <input type="text" pInputText  placeholder="House Number, Street/Area, City, State, Postal Code">
                <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
            </div>
        </div>
        <div class="table-heading">
            <h2>Vehicle Details</h2>
        </div>
        <div class="vehicle-details">
            <div class="grid-item p-inputgroup dropdown">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <p-dropdown [options]="countries" optionLabel="name" [filter]="true" filterBy="name"
                    [(ngModel)]="selectedCountry" optionLabel="name" [showClear]="true" [style]="{'width': '100%'}"
                    placeholder="Vehicle Type"></p-dropdown>
            </div>
            <div class="grid-item p-inputgroup dropdown">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <p-dropdown [options]="countries" optionLabel="name" [filter]="true" filterBy="name"
                    [(ngModel)]="selectedCountry" optionLabel="name" [showClear]="true" [style]="{'width': '100%'}"
                    placeholder="Vehicle Sub-Type"></p-dropdown>
            </div>
            <div class="grid-item p-inputgroup dropdown">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <p-dropdown [options]="countries" optionLabel="name" [filter]="true" filterBy="name"
                    [(ngModel)]="selectedCountry" optionLabel="name" [showClear]="true" [style]="{'width': '100%'}"
                    placeholder="Vehicle Make"></p-dropdown>
            </div>
            <div class="grid-item p-inputgroup dropdown">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <p-dropdown [options]="countries" optionLabel="name" [filter]="true" filterBy="name"
                    [(ngModel)]="selectedCountry" optionLabel="name" [showClear]="true" [style]="{'width': '100%'}"
                    placeholder="Vehicle Model"></p-dropdown>
            </div>
            <div class="grid-item p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" pInputText [style]="{'width': '100%'}" placeholder="Manufacturing Year">
            </div>
            <div class="grid-item p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
                <input type="text" pInputText [style]="{'width': '100%'}" placeholder="Engine Number">
            </div>
            <div class="grid-item p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
                <input type="text" pInputText [style]="{'width': '100%'}" placeholder="Chasis Number">
            </div>
            <div class="grid-item p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
                <input type="text" pInputText [style]="{'width': '100%'}" placeholder="Registration">
            </div>
        </div>
        <div class="table-heading">
            <h2>Agency Details</h2>
        </div>
        <div class="agency-details">
            <div class="grid-item p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText [style]="{'width': '100%'}" placeholder="Agency Name">
            </div>
            <div class="grid-item p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-mobile"></i></span>
                <input type="text" pInputText [style]="{'width': '100%'}" placeholder="Agency Code">
            </div>
            <div class="grid-item p-inputgroup dropdown">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <p-dropdown [options]="countries" optionLabel="name" [filter]="true" filterBy="name"
                    [(ngModel)]="selectedCountry" optionLabel="name" [showClear]="true" [style]="{'width': '100%'}"
                    placeholder="Parent Service Provider"></p-dropdown>
            </div>
            <div class="grid-item p-inputgroup dropdown">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <p-dropdown [options]="countries" optionLabel="name" [filter]="true" filterBy="name"
                    [(ngModel)]="selectedCountry" optionLabel="name" [showClear]="true" [style]="{'width': '100%'}"
                    placeholder="Service Provider"></p-dropdown>
            </div>
            <div class="grid-item p-inputgroup dropdown">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <p-dropdown [options]="countries" optionLabel="name" [filter]="true" filterBy="name"
                    [(ngModel)]="selectedCountry" optionLabel="name" [showClear]="true" [style]="{'width': '100%'}"
                    placeholder="Channel Partner"></p-dropdown>
            </div>
        </div>
        <div class="table-heading">
            <h2>Policy Details</h2>
        </div>
        <div class="policy-info">
            <div class="grid-item p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                <p-calendar placeholder="Transaction Date"></p-calendar>
            </div>
            <div class="grid-item p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                <input type="text" pInputText [style]="{'width': '100%'}" placeholder="Insurer Name">
            </div>
            <div class="grid-item p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-mobile"></i></span>
                <input type="text" pInputText [style]="{'width': '100%'}" placeholder="Policy Number">
            </div>
            <div class="grid-item p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                <p-calendar placeholder="Start Date"></p-calendar>
            </div>
            <div class="grid-item p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                <p-calendar placeholder="End Date"></p-calendar>
            </div>
    
            <div class="grid-item p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input type="text" pInputText [style]="{'width': '100%'}" placeholder="Policy Duration">
            </div>
            <div class="grid-item p-inputgroup dropdown">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <p-dropdown [options]="countries" optionLabel="name" [filter]="true" filterBy="name"
                    [(ngModel)]="selectedCountry" optionLabel="name" [showClear]="true" [style]="{'width': '100%'}"
                    placeholder="Insurance Type"></p-dropdown>
            </div>
    
    
        </div>
    </div>
    
</div>
