.body {
    background-color: whitesmoke;
}

.grid-container {
    display: grid;
    border: 1px;
    padding: 10px;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
    margin: 2rem 5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;

}

.labels {
    font-size: larger;
}

.customer-details {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 0%;

}

.policy-info {
    display: grid;
    grid-template-columns: auto auto auto;
}

.vehicle-details {
    display: grid;
    grid-template-columns: auto auto auto;
}

.agency-details {
    display: grid;
    grid-template-columns: auto auto auto;
}

.table-heading {
    /* border: groove; */
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.table-heading>h2 {
    /* border: groove; */
    margin: 0px;
    padding: 0px 0px 0px 8px;
}

:host ::ng-deep div.grid-item.p-inputgroup {

    padding: 0.5rem;
    margin: 0.5rem;

}